html, body {
  height: 100%;
  width: 100%;
  background-color: #023047;
  text-align: center;
}
h1{
  color:#FFB703;
}
h2{
  color:#fb8500;
  font-family: Papyrus;
}
button{
  border-radius:50%;
  padding: 20px;
  background-color:#219ebc;
  color:#023047;
}
img{
  width: 50px;
  border-radius: 10%;
  display:none;
}
